body{
    margin: 0;
    padding: 0;
    background: #1a0321;
    font-family:consolas;
}

h1  {
   position:relative;
   text-align:center;
   color: #fff;
   width: 300px;
   margin:20px auto;
   font-size:30px;
   background-color:black;
}